
@mixin cushion($padding,$margin) {
  padding: $padding;
  margin: $margin;
}

body {
  @include cushion(0,0);
}


#title {
  position: absolute;
  font-family: monospace;
  font-size: 50px;
  color: black;
    a {
      text-decoration: none;
    }
  }

.index {
  background: url(../assets/img/backgroundMain.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.location-body {
  background: rgba(220, 220, 220, .3);
  background-size: cover;
  width: 98vw;
  h1 {
    text-align: center;
  }
}
.location-bulk {
  width: 98vw;
  img{
    width: 98vw;
    height: auto;
  }
}

.upcoming-bulk {
  width: 98vw;
  img {
  background-position: center;
  width: 97vw;
  height: auto;

  }
}

.nav-body {
  background: url(../assets/img/background1.jpg);
  background-size: cover;
  width: 99vw;
  height: 100vh;
}
.space-body {
  background: url(../assets/img/background1.jpg);
  background-size: cover;
  width: 100vw;
  }

.contact-body {
  background: url(../assets/img/contact.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  h1{
    text-align: center;
  }
  }

.upcoming-body {
  h1{
    text-align: center;
  }
  background: rgba(220, 220, 220, .3);
  background-size: cover;
  width: 98vw;
  }

.space-body {
  background: url(../assets/img/background1.jpg);
  background-size: cover;
  width: 100vw;
  }

.burger{
  // height: 100vh;
  img{
  width: 10%;
  margin-top: 5px;
  margin-left: 5px;
  }

}

#nav-bar {
  display: flex;
  width: 97vw;
  // @include size(100vw, 50px);
}

#dropdown{
  display: none;
  margin-top: 5px;
  width: 95vw;
  height:15vmin;
  a{
    text-decoration: none;
  }

  .nav-tab {
    width: 100%;
    height: 50%;
    color: black;
    padding-left: 1vmin;
    h2 {
      font-size: 3vmin;
      line-height: 4vmin;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

@media screen and(max-width: 380px){
  #title {
    margin-top: 150vw;
    margin-left: 13vw;
    font-family: monospace;
    font-size: 50px;
    color: black;
    a {
      text-decoration: none;
    }
    }
}

@media screen and (max-width: 900px) {


}
